@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    font-family: 'Inter', sans-serif;
    color: #1B0066;
}
.custom-nav{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.custom-color{
    color: #1B0066;
}